@{
  Layout = "_Layout";
}

@model Factory.Models.Item

<div class="container">
  <h2>Are you sure you want to delete this?</h2>

  @Html.DisplayNameFor(model => modelName): @Html.DisplayFor(model => modelName)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="pageLink"/>
  }

  <h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>
</div>