@{
  Layout = "_Layout";
}

@* @using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<div class="container">
<h1>Items</h1>
 
  @if (@Model.Count == 0)
  {
    <h3>No Items have been added yet!</h3>
  } 
  else
  {
    <h4>* Click on Item to See Details *</h4>
    @foreach (Item item in Model)
    {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }, new { @class="linkWordColor" })</li>
    }
  }

  <h5 class="pageLink">@Html.ActionLink("Add new item", "Create")</h5>
  <h5 class="pageLink">@Html.ActionLink("Home", "Index", "Home")</h5>
</div> *@
