@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<div class="container">
  <h2>Machines</h2>
  <h5>@Html.ActionLink("Add new Machine", "Create", null, null, new {@class ="pageLink"})</h5>
  <h5>@Html.ActionLink("Home", "Index", "Home", null, new {@class ="pageLink"})</h5>
  <img class="image1" src="~/image/machine1.png">

  <div class="indexBox">
    @if (@Model.Count == 0)
      {
        <h4>No Machines have been added yet!</h4>
      } 
      else
      {
      <h4>Click on Machine to See Details</h4>
      @foreach (Machine machine in Model)
      {
        <li>@Html.ActionLink($"{machine.Name}", "Details", new {id = machine.MachineId}, new {@class="linkWordColor"})</li>
      }
    }
  </div> 
</div>
