@{
  Layout = "_Layout";
}

@* <div class="container">

  <h5 class="pageLink">@Html.ActionLink("Category List", "Index", "Categories")</h5>
  <h5 class="pageLink2">@Html.ActionLink("Add Category", "Create", "Categories")</h5>
  
</div> *@